<form (ngSubmit)="onSubmit()" #formOS="ngForm">
    <h3>Pagamento dos Funcionarios</h3>
    <mat-form-field appearance="legacy">
        <mat-label>Data Inicial</mat-label>
        <input matInput [matDatepicker]="picker" (dateInput)="addEvent($event)"name="datIn" [(ngModel)]="datIn" required>
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> 
      <mat-form-field appearance="legacy">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="pickerg" (dateInput)="addEventFi($event)"name="datFin" [(ngModel)]="datFin" required>
        <mat-datepicker-toggle matSuffix [for]="pickerg" ></mat-datepicker-toggle>
        <mat-datepicker #pickerg></mat-datepicker>
      </mat-form-field> 
      <button mat-mini-fab color="primary" [disabled]="!formOS.valid "><mat-icon>done</mat-icon></button>


</form>

