<mat-card style=" border: 0px solid;
padding: 20px;">
<h1>Funcionários</h1>
<mat-card>
<mat-table #Table [dataSource]="DataTable">  

       
    <ng-container matColumnDef="ID">  
        <mat-header-cell *matHeaderCellDef sticky> OS  </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.id}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="NOME">  
        <mat-header-cell *matHeaderCellDef> NOME  </mat-header-cell>  
        <mat-cell *matCellDef="let c">{{c.NOME}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="CPF" >  
        <mat-header-cell *matHeaderCellDef> CPF  </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.CPF}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="EMAIL">  
        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>  
        <mat-cell *matCellDef="let c" style="    margin-left: -3%;
        margin-right: 3%;"> {{c.EMAIL}} </mat-cell>  
    </ng-container> 
    <ng-container matColumnDef="DATA DE NASCIMENTO">  
        <mat-header-cell *matHeaderCellDef> Data de Nasicmento </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.DATE}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="TELEFONE">  
        <mat-header-cell *matHeaderCellDef>Telefone </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.TELL}} </mat-cell>  
    </ng-container> 
     <ng-container matColumnDef="DELETAR">  
        <mat-header-cell *matHeaderCellDef> DELETAR </mat-header-cell>  
        <mat-cell *matCellDef="let c"> <button mat-mini-fab color="warn" (click)="delet(c)"><mat-icon>delete</mat-icon> </button> </mat-cell>  
    </ng-container>  
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
</mat-table>  

<!-- To use pagination in DataTable  -->  

<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">  
</mat-paginator>  
    </mat-card>
