<h3>Cadastro do Veiculo:</h3>
 <mat-form-field appearance="legacy">
  <mat-label>Modelo</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.Modelo" name="modelo" required>
  <mat-hint>Modelo do carro</mat-hint>
</mat-form-field>
<mat-form-field appearance="legacy">
  <mat-label>Marca</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.Marca" name="marca" required>
  <mat-hint>Marca do carro</mat-hint>
</mat-form-field>
<mat-form-field appearance="legacy">
  <mat-label>Ano</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.Ano"  name="ano" required> 
  <mat-hint>Ano do carro</mat-hint>
</mat-form-field>
<br>
<mat-form-field appearance="legacy">
  <mat-label>Cor</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.Cor" name="cor" required>
  <mat-hint>Cor do carro</mat-hint>
</mat-form-field>
<mat-form-field appearance="legacy">
  <mat-label>Placa</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.Placa" name="placa" required>
  <mat-hint>placa do carro</mat-hint>
</mat-form-field>
<mat-form-field appearance="legacy">
  <mat-label>KM</mat-label>
  <input matInput placeholder="" [(ngModel)]="car.KM" name="km">
  <mat-hint>KM do carro</mat-hint>
</mat-form-field>
 

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="car" cdkFocusInitial>Salvar</button>
</div>