
<mat-tab-group >
  <mat-tab label="Peça em estoque">
    <mat-table #Table [dataSource]="DataTable">  

       
      <ng-container matColumnDef="name">  
          <mat-header-cell *matHeaderCellDef sticky> Nome  </mat-header-cell>  
          <mat-cell *matCellDef="let c"> {{c.NOME}} </mat-cell>  
      </ng-container>  
      <ng-container matColumnDef="adicionar" >  
        <mat-header-cell *matHeaderCellDef style="margin-left: 2%;"> Adicionar</mat-header-cell>  
        <mat-cell *matCellDef="let c"><button mat-mini-fab  color="primary" (click)="adc(c)"><mat-icon>add</mat-icon></button> </mat-cell>  
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
      </mat-table>
   
    <div *ngFor="let c of obj">
      {{c.NOME}}
    </div>
    <button mat-mini-fab color="primary" id="saves" [mat-dialog-close]="obj" cdkFocusInitial><mat-icon>done</mat-icon></button>
  </mat-tab>
  <mat-tab label="Serviço">


    <mat-table #Table [dataSource]="DataTableServ">  

       
      <ng-container matColumnDef="name">  
          <mat-header-cell *matHeaderCellDef sticky> Nome  </mat-header-cell>  
          <mat-cell *matCellDef="let c"> {{c.NOME}} </mat-cell>  
      </ng-container>  
      <ng-container matColumnDef="adicionar" >  
        <mat-header-cell *matHeaderCellDef style="margin-left: 2%;"> Adicionar</mat-header-cell>  
        <mat-cell *matCellDef="let c"><button mat-mini-fab  color="primary" (click)="adc(c)"><mat-icon>add</mat-icon></button> </mat-cell>  
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
      </mat-table>
      <div *ngFor="let c of obj">
        {{c.NOME}}
      </div>
      <button mat-mini-fab color="primary" id="saves" [mat-dialog-close]="obj" cdkFocusInitial><mat-icon>done</mat-icon></button>
  </mat-tab>
</mat-tab-group>