<div class="mat-card" style=" border: 0px solid;
padding: 10px;">
<form (ngSubmit)="onSubmit()" #formOS="ngForm">
  <h2>Cadastro de Ordem de Serviço:</h2>
    <mat-form-field appearance="legacy">
      <input type="text" placeholder="Nome" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="os.CLIENTE" name="nome" required>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions |async" [value]="option" >
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
     <mat-form-field appearance="legacy"> 
      <mat-label>Placa do Veículo</mat-label>
       <mat-icon matPrefix>directions_car</mat-icon>
      <input type="text" matInput placeholder="Placa"[(ngModel)]="os.PLACA"  name="placa" required>
    </mat-form-field>
    <mat-form-field appearance="legacy"> 
      <mat-label>Modelo do Veículo</mat-label>
      <input type="text" matInput placeholder="Modelo" [(ngModel)]="os.MODELO" name="modelo" required>
    </mat-form-field>
  
    <mat-form-field appearance="legacy"> 
      <mat-label>Marca do Veículo</mat-label>
      <input type="text" matInput placeholder="Marca" [(ngModel)]="os.MARCA" name="marca" required>
    </mat-form-field>
    <mat-form-field appearance="legacy"> 
      <mat-label>Ano do Veículo</mat-label>
      <input type="text" matInput placeholder="Ano" [(ngModel)]="os.ANO" name="ano" required>
    </mat-form-field>
 <br>
    <mat-form-field>
      <mat-label>Funcionario</mat-label>
      <mat-select [(ngModel)]="os.FUNCIONARIO" name="nameFuncio"  required>
        <mat-option *ngFor="let f of nameFuncio" [value]="f" >
          {{f}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Data previsão</mat-label>
      <input matInput [matDatepicker]="picker" (dateInput)="addEvent($event)"name="dates" [(ngModel)]="os.DATEP" required>
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
    <mat-form-field class="example-full-width">
      <mat-label>Observação</mat-label>
      <textarea matInput #message placeholder="Descreva a situação do problema" maxlength="256" [(ngModel)]="os.OBS" name="obs" ></textarea>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button mat-mini-fab color="primary"  [disabled]="!formOS.valid "><mat-icon>done</mat-icon></button>
    <button mat-mini-fab type="reset" color="warn" style="margin-left: 10px;"><mat-icon>delete</mat-icon></button>
  </form>
</div>