<div class="mat-card">

  <h3>Clientes:</h3>

    <mat-card>
<table > 
  <tr>
    <td><mat-icon>account_circle</mat-icon></td>
    <td>id</td>
    <td>Nome</td>
    <td>CPF</td>
    <td>Email</td>
    <td>Data de Nascimento</td>
    <td>Telefone</td>
    <td>CEP</td>
  
  
    <td><mat-icon>create</mat-icon></td>
  
  </tr>
  <tbody *ngIf="simpleRqClient$ |async as clients">
    <tr *ngFor="let c of clients" >
      <td><mat-icon>account_circle</mat-icon></td>
      <td>{{c.id}}</td>
      <td>{{c.NAME}}</td>
      <td>{{c.CPF}}</td>
      <td>{{c.EMAIL}}</td>
      <td>{{c.DATE}}</td>
      <td>{{c.TELL}}</td>
      <td>{{c.CEP}}</td>

    <td><button mat-mini-fab color="primary" (click)="editClient(c)"><mat-icon>create</mat-icon></button></td>
    
  </tr>
  </tbody>
</table>
</mat-card>
<!-- <tbody *ngIf="simpleRqClient$ |async as clients">
  <tr *ngFor="let c of clients">
    <td><mat-icon>account_circle</mat-icon></td>
    <td>{{c.id}}</td>
    <td>{{c.NAME}}</td>
    <td>{{c.CPF}}</td>
    <td>{{c.EMAIL}}</td>
    <td>{{c.NUMBER}}</td>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="client" cdkFocusInitial>Salvar</button>
</div>-->

  
</div>
