<div class="mat-card">

  <h3>Clientes:  <button mat-icon-button (click)="loop()">
    <mat-icon>loop</mat-icon>
  </button></h3>

    <mat-card>
<table > 
  <tr>
    <td><mat-icon>account_circle</mat-icon></td>
    <td>id</td>
    <td>Nome</td>
    <td>CPF</td>
    <td>Email</td>
    <td>Telefone</td>
    <td><mat-icon>directions_car</mat-icon></td>
    <td><mat-icon>create</mat-icon></td>
  
  </tr>
  <tbody *ngIf="simpleRqClient$ |async as clients">
  <tr *ngFor="let c of clients">
    <td><mat-icon>account_circle</mat-icon></td>
    <td>{{c.id}}</td>
    <td>{{c.NAME}}</td>
    <td>{{c.CPF}}</td>
    <td>{{c.EMAIL}}</td>
    <td>{{c.NUMBER}}</td>

    <td><mat-icon>directions_car</mat-icon></td>
    <td><button mat-mini-fab color="primary" (click)="editClient(c)"><mat-icon>create</mat-icon></button></td>
    
  </tr>
  </tbody>
</table>
</mat-card>
<!--
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="client" cdkFocusInitial>Salvar</button>
</div>-->








  
</div>