<mat-card style=" border: 0px solid;
padding: 20px;">
 <h1>Clientes</h1>
 <mat-card>
 <mat-table #Table [dataSource]="DataTable">  

  <ng-container matColumnDef="id">  
    <mat-header-cell *matHeaderCellDef style="margin-right:-5%"><mat-icon>account_circle</mat-icon></mat-header-cell>  
    <mat-cell *matCellDef="let c"  style="margin-right:-5%"> {{c.id}} </mat-cell>  
</ng-container>  
<ng-container matColumnDef="Nome" >  
    <mat-header-cell *matHeaderCellDef> Nome  </mat-header-cell>  
    <mat-cell *matCellDef="let c"> {{c.NAME}} </mat-cell>  
</ng-container>  
<ng-container matColumnDef="Cpf">  
    <mat-header-cell *matHeaderCellDef> CPF  </mat-header-cell>  
    <mat-cell *matCellDef="let c"> {{c.CPF}} </mat-cell>  
</ng-container>  
<ng-container matColumnDef="Email">  
    <mat-header-cell *matHeaderCellDef style="margin-right: 3%;" >Email</mat-header-cell>  
    <mat-cell *matCellDef="let c"style="margin-right: 3%;" >{{c.EMAIL}}</mat-cell>  
</ng-container> 
<ng-container matColumnDef="Data de Nascimento">  
    <mat-header-cell *matHeaderCellDef > Data de Nascimento  </mat-header-cell>  
    <mat-cell *matCellDef="let c"> {{c.DATE}} </mat-cell>  
</ng-container>  
<ng-container matColumnDef="Telefone">  
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>  
    <mat-cell *matCellDef="let c"> {{c.TELL}} </mat-cell>  
</ng-container> 
<ng-container matColumnDef="CEP">  
    <mat-header-cell *matHeaderCellDef> CEP </mat-header-cell>  
    <mat-cell *matCellDef="let c">{{c.CEP}} </mat-cell>  
</ng-container>  
<ng-container matColumnDef="Editar">  
    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>  
    <mat-cell *matCellDef="let c"><button mat-mini-fab color="primary" (click)="editClient(c)"><mat-icon>create</mat-icon></button></mat-cell>  
</ng-container>
<ng-container matColumnDef="Deletar">  
    <mat-header-cell *matHeaderCellDef >Deletar</mat-header-cell>  
    <mat-cell *matCellDef="let c"  ><button mat-mini-fab color="warn" (click)="delet(c)"><mat-icon>delete</mat-icon></button></mat-cell>  
</ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns" style="padding-left: -20px;"></mat-header-row>  
<mat-row *matRowDef="let row; columns: displayedColumns;"  style="padding-left: -20px;"></mat-row>  
</mat-table>  

<!-- To use pagination in DataTable  -->  

<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">  
</mat-paginator>
    </mat-card> 