
    <mat-toolbar color="primary">
        <mat-icon>directions_car</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">Cadastro</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/registerclient">Cliente</button>
                <button mat-menu-item routerLink="/cadastropeca">Peça</button>
                <button mat-menu-item routerLink="/registerfunc">Funcionario</button>
                <button mat-menu-item routerLink="/registerserv">Serviço</button>
                
            </mat-menu>
                
            <button mat-button [matMenuTriggerFor]="list">Listagem</button>
            <mat-menu #list="matMenu">
                <button mat-menu-item routerLink="/list">Clientes</button>
               
                
                
            </mat-menu>
             <button mat-button [matMenuTriggerFor]="os">Ordem de Serviço</button>
            <mat-menu #os="matMenu">
                <button mat-menu-item routerLink="/addos">Criar OS</button>
               <button mat-menu-item routerLink="/listos">Listar OS</button>
                
                
            </mat-menu>
            
  
    </mat-toolbar>
        <router-outlet></router-outlet>
        