
    <mat-toolbar color="primary">
        <mat-icon>directions_car</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">Cadastro</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/registerclient">Cliente</button>
                <button mat-menu-item>Peça</button>
                
                
        </mat-menu>
        <button mat-button routerLink="/list">Clientes</button>
    </mat-toolbar>
        <router-outlet></router-outlet>
        