
    <mat-toolbar color="primary">
        <a mat-icon-button routerLink="/index"><mat-icon>directions_car</mat-icon></a>
        <button mat-button [matMenuTriggerFor]="menu">Cadastro</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/registerclient">Cliente</button>
                <button mat-menu-item routerLink="/cadastropeca">Peça</button>
                <button mat-menu-item routerLink="/registerfunc">Funcionário</button>
                <button mat-menu-item routerLink="/registerserv">Serviço</button>
                
            </mat-menu>
                
            <button mat-button [matMenuTriggerFor]="list">Listagem</button>
            <mat-menu #list="matMenu">
                <button mat-menu-item routerLink="/list">Clientes</button>
                <button mat-menu-item routerLink="/listfun">Funcionários</button>
               
                
                
            </mat-menu>
             <button mat-button [matMenuTriggerFor]="os">Ordem de Serviço</button>
            <mat-menu #os="matMenu">
                <button mat-menu-item routerLink="/addos">Criar OS</button>
               <button mat-menu-item routerLink="/listos">OS Aberto</button>
               <button mat-menu-item routerLink="/listosneg">OS Negado</button>
               <button mat-menu-item routerLink="/listosfin">OS Finalizados</button>
                
            </mat-menu>
            <button mat-button  routerLink="/relatorio">Relátorios</button>
            
  
    </mat-toolbar>
        <router-outlet></router-outlet>
        