<mat-card>
    <h3>Ordem de serviço</h3>
    <table>
        <tr>
            <th>Os</th>
            <th>Placa</th>
            <th>Cliente</th>
            <th>Modelo</th>
            <th>Responsavel</th>
            <th>Data de entrega</th>
            <th>Opção</th>
          </tr>
        <tbody>         
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody> 
    </table>
</mat-card>