<mat-card>
<mat-table #Table [dataSource]="DataTable">  

       
    <ng-container matColumnDef="OS">  
        <mat-header-cell *matHeaderCellDef sticky> OS  </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.id}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="Placa">  
        <mat-header-cell *matHeaderCellDef> Placa  </mat-header-cell>  
        <mat-cell *matCellDef="let c">{{c.PLACA}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="Cliente" >  
        <mat-header-cell *matHeaderCellDef> Cliente  </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.CLIENTE}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="Modelo">  
        <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.MODELO}} </mat-cell>  
    </ng-container> 
    <ng-container matColumnDef="Responsável">  
        <mat-header-cell *matHeaderCellDef> Responsável </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.FUNCIONARIO}} </mat-cell>  
    </ng-container>  
    <ng-container matColumnDef="Data de Entrega">  
        <mat-header-cell *matHeaderCellDef>Data de Entrega </mat-header-cell>  
        <mat-cell *matCellDef="let c"> {{c.DATEP}} </mat-cell>  
    </ng-container> 
    <ng-container matColumnDef="Opção">  
        <mat-header-cell *matHeaderCellDef> Opção </mat-header-cell>  
        <mat-cell *matCellDef="let c"> <button mat-mini-fab color="primary" routerLink="/EditOS"(click)="getos(c)"><mat-icon>build</mat-icon> </button> </mat-cell>  
    </ng-container>  
     <ng-container matColumnDef="deletar">  
        <mat-header-cell *matHeaderCellDef> Deletar </mat-header-cell>  
        <mat-cell *matCellDef="let c"> <button mat-mini-fab color="warn" (click)="delet(c)"><mat-icon>delete</mat-icon> </button> </mat-cell>  
    </ng-container>  
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
</mat-table>  

<!-- To use pagination in DataTable  -->  

<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">  
</mat-paginator>  
    </mat-card>
