<div class="container">
	<!--João paulo referente as images que vc colocou aq, tenta diminuir a imagem para poder mostrar os dados sobres as os, pois como so uma pessoa q vai utilizar o sistema e nao os clientes, n tem o pq meio q divulgar, se quiser da uma lida em como fazer uma postagem automatica com api(coisa bem simples e interresante), vale a pena pra vc estudar, se conseguir so suba se funcionar-->
	<input type="radio" id="i1" name="images" checked />
	<input type="radio" id="i2" name="images" />
	
	<div class="slide_img" id="one">			
			
			<img src="https://scontent.fudi5-1.fna.fbcdn.net/v/t1.0-9/42584803_325780924842425_5622408972704153600_n.jpg?_nc_cat=102&_nc_sid=e3f864&_nc_eui2=AeFLNYgq2O4fOd9nM3_ndbpZaVm4n2AVlThpWbifYBWVOBxIaZXwFj270I8bc0-IvXzKQakrdW1Uqqanx7GSMTTD&_nc_ohc=8PFd2UcWmSwAX-Gsm2O&_nc_ht=scontent.fudi5-1.fna&oh=6373bc5303c128c37e047dd1635b342a&oe=5EE7D81C" >
				<label class="prev" for="i2"><span>&#x2039;</span></label>
				<label class="next" for="i2"><span>&#x203a;</span></label>	
		
	</div>
	
	<div class="slide_img" id="two">
		
		<img src="https://scontent.fudi5-1.fna.fbcdn.net/v/t1.0-9/80190133_600640800689768_2918973221627756544_n.jpg?_nc_cat=102&_nc_sid=a26aad&_nc_eui2=AeHu-ruNG7lJxocpoDEDIoyXPsdQfCT0u9Q-x1B8JPS71HLbXxqn4bqG4kpRpDoKTq3f_lspm5WqsP1fp4o9MSwr&_nc_ohc=QZl9SZnHznMAX9Gtvds&_nc_ht=scontent.fudi5-1.fna&oh=18ab88a94e625ba3fdd38127d979b950&oe=5EE7F9C5">
			
				<label class="prev" for="i1"><span>&#x2039;</span></label>
				<label class="next" for="i1"><span>&#x203a;</span></label>
		
	</div>

	<div id="nav_slide">
		<label for="i1" class="dots" id="dot1"></label>
		<label for="i2" class="dots" id="dot2"></label>
	</div>
		
</div>

